<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="pl">
<head lang="en">
    <meta charset="UTF-8"/>
    <title>WarehouseApp</title>
    <link rel="stylesheet" href="/main.css"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.css">
</head>
<body>

<div id="react" class="app-content"></div>

<script src="built/bundle.js"></script>

</body>
</html>